In [258]:
#1. Charter schools are much better than District because they have a much higher overall passing rate.
#2. District schools have problems teaching math, they usually have low passing rates.
#3. Despite of District schools usually having a higher budget per student, they are still not having good results, there is clearly a very big opportunity to imporve there.

# Dependencies and Setup
import pandas as pd
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [259]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [261]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [175]:
#District Summary
#Calculate the total number of schools
totschools = len(set(school_data_complete["school_name"]))
#Calculate the total number of students
totstudents = len(set(school_data_complete["Student ID"]))
#Calculate the total budget
totbudget = "${:,.2f}".format(school_data["budget"].sum())
#Calculate the average math score 
avgmathscore = "{:.2%}".format((student_data["math_score"].mean()/100))
#Calculate the average reading score
avgreadscore = "{:.2%}".format((student_data["reading_score"].mean()/100))
#Calculate the percentage of students with a passing math score (70 or greater)
pms_df = student_data.loc[student_data["math_score"]>69]
pmsc = pms_df["Student ID"].count()
pmsr = "{:.2%}".format(pmsc/totstudents)
#Calculate the percentage of students with a passing reading score (70 or greater)
prs_df = student_data.loc[student_data["reading_score"]>69]
prsc = prs_df["Student ID"].count()
prsr = "{:.2%}".format(prsc/totstudents)
#Calculate the percentage of students who passed math and reading (% Overall Passing)
pt_df = student_data.loc[(student_data["math_score"] > 69) & (student_data["reading_score"] > 69)]
ptc = pt_df["Student ID"].count()
ptr = "{:.2%}".format(ptc/totstudents)
#Create a dataframe to hold the above results
district_summary = pd.DataFrame({"Total Schools": totschools, "Total Students": totstudents, "Total Budget": totbudget,
                    "Average Math Score": [avgmathscore], "Average Reading Score": [avgreadscore], "% Passing Math": [pmsr],
                    "% Passing Reading": [prsr], "% Overall Passing": [ptr]})
district_summary.head()
#Optional: give the displayed data cleaner formatting

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.99%,81.88%,74.98%,85.81%,65.17%

In [207]:
#School Summary

#School Name
#School Type
schooltype = school_data.set_index(["school_name"])["type"]
schooltype

#Total Students per school
schoolstudents = school_data_complete["school_name"].value_counts()
schoolstudents
#Total School Budget
schoolbudget = school_data.groupby(["school_name"])["budget"].sum()
#Per Student Budget
studentbudget = schoolbudget / schoolstudents
#Average Math Score
amsperschool = round(school_data_complete.groupby(["school_name"])["math_score"].mean(),2)
amsperschool
#Average Reading Score
arsperschool = round(school_data_complete.groupby(["school_name"])["reading_score"].mean(),2)
arsperschool
#% Passing Math
mpass = school_data_complete[(school_data_complete["math_score"] > 69)]
mpass
pmsperschool = (mpass.groupby(["school_name"])["student_name"].count()/schoolstudents).map("{:.2%}".format)
pmsperschool
#% Passing Reading
rpass = school_data_complete[(school_data_complete["reading_score"] > 69)]
rpass
prsperschool = (rpass.groupby(["school_name"])["student_name"].count()/schoolstudents).map("{:.2%}".format)
prsperschool
#% Overall Passing (The percentage of students that passed math and reading.)
opass = school_data_complete.loc[(school_data_complete["math_score"] > 69) & (school_data_complete["reading_score"] > 69)]
opass
ppsperschool = (opass.groupby(["school_name"])["student_name"].count()/schoolstudents).map("{:.2%}".format)
ppsperschool          
#Create a dataframe to hold the above results

#Group by shoolname
school_summary = pd.DataFrame({"School Type": schooltype, "Total Students": schoolstudents, "Total School Budget": schoolbudget,
                    "Per Student Budget": studentbudget, "Average Math Score": amsperschool, "Average Reading Score": arsperschool,
                     "% Passing Math": pmsperschool, "% Passing Reading": prsperschool, "% Overall Passing": ppsperschool})
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,2739,1763916,644.0,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,4635,3022020,652.0,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,248087,581.0,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,2917,1910635,655.0,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,4761,3094650,650.0,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,585858,609.0,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,3999,2547363,637.0,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,1761,1056600,600.0,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,1800,1049400,583.0,83.68,83.96,93.33%,96.61%,90.33%

In [204]:
#Top Performing Schools (By % Overall Passing)
#Sort and display the top five performing schools by % overall passing.
topschools = school_summary.sort_values("% Overall Passing", ascending = False)
topschools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,585858,609.0,83.84,84.04,94.59%,95.95%,90.54%
Wright High School,Charter,1800,1049400,583.0,83.68,83.96,93.33%,96.61%,90.33%
Shelton High School,Charter,1761,1056600,600.0,83.36,83.73,93.87%,95.85%,89.89%
Holden High School,Charter,427,248087,581.0,83.80,83.81,92.51%,96.25%,89.23%
Bailey High School,District,4976,3124928,628.0,77.05,81.03,66.68%,81.93%,54.64%
Ford High School,District,2739,1763916,644.0,77.10,80.75,68.31%,79.30%,54.29%
Johnson High School,District,4761,3094650,650.0,77.07,80.97,66.06%,81.22%,53.54%
Hernandez High School,District,4635,3022020,652.0,77.29,80.93,66.75%,80.86%,53.53%
Huang High School,District,2917,1910635,655.0,76.63,81.18,65.68%,81.32%,53.51%
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,65.99%,80.74%,53.20%
Rodriguez High School,District,3999,2547363,637.0,76.84,80.74,66.37%,80.22%,52.99%

In [206]:
#Bottom Performing Schools (By % Overall Passing)
#Sort and display the five worst-performing schools by % overall passing.
worstschools = school_summary.sort_values("% Overall Passing")
worstschools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,2547363,637.0,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,2917,1910635,655.0,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,4635,3022020,652.0,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,4761,3094650,650.0,77.07,80.97,66.06%,81.22%,53.54%
Ford High School,District,2739,1763916,644.0,77.10,80.75,68.31%,79.30%,54.29%
Bailey High School,District,4976,3124928,628.0,77.05,81.03,66.68%,81.93%,54.64%
Holden High School,Charter,427,248087,581.0,83.80,83.81,92.51%,96.25%,89.23%
Shelton High School,Charter,1761,1056600,600.0,83.36,83.73,93.87%,95.85%,89.89%
Wright High School,Charter,1800,1049400,583.0,83.68,83.96,93.33%,96.61%,90.33%
Pena High School,Charter,962,585858,609.0,83.84,84.04,94.59%,95.95%,90.54%
Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,93.87%,96.54%,90.58%
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,93.39%,97.14%,90.60%
Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,93.27%,97.31%,90.95%
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,94.13%,97.04%,91.33%

In [232]:
#Math Scores by Grade
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
grade9 = school_data_complete[(school_data_complete["grade"] == "9th")]
grade10 = school_data_complete[(school_data_complete["grade"] == "10th")]
grade11 = school_data_complete[(school_data_complete["grade"] == "11th")]
grade12 = school_data_complete[(school_data_complete["grade"] == "12th")]

m9 = (grade9.groupby(["school_name"]).mean()["math_score"]/100).map("{:.2%}".format)
m10 = (grade10.groupby(["school_name"]).mean()["math_score"]/100).map("{:.2%}".format)
m11 = (grade11.groupby(["school_name"]).mean()["math_score"]/100).map("{:.2%}".format)
m12 = (grade12.groupby(["school_name"]).mean()["math_score"]/100).map("{:.2%}".format)

# Groupby the above DataFrame by 'school_name' and calculate average on 'math_score' and then reset the index
mathscores = pd.DataFrame({"9th": m9,"10th": m10,"11th": m11,"12th": m12})
mathscores

                          9th    10th    11th    12th
school_name
Bailey High School     77.08%  77.00%  77.52%  76.49%
Cabrera High School    83.09%  83.15%  82.77%  83.28%
Figueroa High School   76.40%  76.54%  76.88%  77.15%
Ford High School       77.36%  77.67%  76.92%  76.18%
Griffin High School    82.04%  84.23%  83.84%  83.36%
Hernandez High School  77.44%  77.34%  77.14%  77.19%
Holden High School     83.79%  83.43%  85.00%  82.86%
Huang High School      77.03%  75.91%  76.45%  77.23%
Johnson High School    77.19%  76.69%  77.49%  76.86%
Pena High School       83.63%  83.37%  84.33%  84.12%
Rodriguez High School  76.86%  76.61%  76.40%  77.69%
Shelton High School    83.42%  82.92%  83.38%  83.78%
Thomas High School     83.59%  83.09%  83.50%  83.50%
Wilson High School     83.09%  83.72%  83.20%  83.04%
Wright High School     83.26%  84.01%  83.84%  83.64%

In [235]:
#Reading Scores by Grade
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
r9 = (grade9.groupby(["school_name"]).mean()["reading_score"]/100).map("{:.2%}".format)
r10 = (grade10.groupby(["school_name"]).mean()["reading_score"]/100).map("{:.2%}".format)
r11 = (grade11.groupby(["school_name"]).mean()["reading_score"]/100).map("{:.2%}".format)
r12 = (grade12.groupby(["school_name"]).mean()["reading_score"]/100).map("{:.2%}".format)

# Groupby the above DataFrame by 'school_name' and calculate average on 'reading_score' and then reset the index
readingscores = pd.DataFrame({"9th": r9,"10th": r10,"11th": r11,"12th": r12})
readingscores

                          9th    10th    11th    12th
school_name
Bailey High School     81.30%  80.91%  80.95%  80.91%
Cabrera High School    83.68%  84.25%  83.79%  84.29%
Figueroa High School   81.20%  81.41%  80.64%  81.38%
Ford High School       80.63%  81.26%  80.40%  80.66%
Griffin High School    83.37%  83.71%  84.29%  84.01%
Hernandez High School  80.87%  80.66%  81.40%  80.86%
Holden High School     83.68%  83.32%  83.82%  84.70%
Huang High School      81.29%  81.51%  81.42%  80.31%
Johnson High School    81.26%  80.77%  80.62%  81.23%
Pena High School       83.81%  83.61%  84.34%  84.59%
Rodriguez High School  80.99%  80.63%  80.86%  80.38%
Shelton High School    84.12%  83.44%  84.37%  82.78%
Thomas High School     83.73%  84.25%  83.59%  83.83%
Wilson High School     83.94%  84.02%  83.76%  84.32%
Wright High School     83.83%  83.81%  84.16%  84.07%

In [296]:
#Scores by School Spending
 
# creating spending bins
bins = [0, 585, 615, 645, 675]
group_name = ["<$585", "$585-615", "$615-645", "$645-675"]
school_data_complete["spending_bins"] = pd.cut(school_data_complete["budget"]/school_data_complete["size"], bins, labels = group_name)
#group by spending
byspending = school_data_complete.groupby("spending_bins")
#Average Math Score
avmbyschool = byspending["math_score"].mean()
#Average Reading Score
avrbyschool = byspending["reading_score"].mean()
#% Passing Math
pmbyschool = (school_data_complete[school_data_complete["math_score"] > 69].groupby("spending_bins")["Student ID"].count()/byspending["Student ID"].count()).map("{:.2%}".format)
#% Passing Reading
prbyschool = (school_data_complete[school_data_complete["reading_score"] > 69].groupby("spending_bins")["Student ID"].count()/byspending["Student ID"].count()).map("{:.2%}".format)
#Overall Passing Rate (Average of the above two)
pobyschool = (school_data_complete[(school_data_complete["math_score"] > 69) & (school_data_complete["reading_score"] > 69)].groupby("spending_bins")["Student ID"].count()/by_spending["Student ID"].count()).map("{:.2%}".format)
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
scoresbyspend = pd.DataFrame({"Average Math Score": avmbyschool,"Average Reading Score": avrbyschool,"% Passing Math": pmbyschool,"% Passing Reading": prbyschool,"Overall Passing Rate": pobyschool})
scoresbyspend

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
spending_bins,,,,,
<$585,83.363065,83.964039,93.70%,96.69%,90.64%
$585-615,83.529196,83.838414,94.12%,95.89%,90.12%
$615-645,78.061635,81.434088,71.40%,83.61%,60.29%
$645-675,77.049297,81.005604,66.23%,81.11%,53.53%

In [305]:
#Scores by School Size
 
#Perform the same operations as above, based on school size.
 
# creating spending bins
bins = [0, 1000, 2000, 5000]
group_name = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
school_data_complete["size_bins"] = pd.cut(school_data_complete["size"], bins, labels = group_name)
#group by spending
bysize = school_data_complete.groupby("size_bins")
#Average Math Score
avmbysize = bysize["math_score"].mean()
#Average Reading Score
avrbysize = bysize["reading_score"].mean()
#% Passing Math
pmbysize = (school_data_complete[school_data_complete["math_score"] > 69].groupby("size_bins")["Student ID"].count()/bysize["Student ID"].count()).map("{:.2%}".format)
#% Passing Reading
prbysize = (school_data_complete[school_data_complete["reading_score"] > 69].groupby("size_bins")["Student ID"].count()/bysize["Student ID"].count()).map("{:.2%}".format)
#Overall Passing Rate (Average of the above two)
pobysize = (school_data_complete[(school_data_complete["math_score"] > 69) & (school_data_complete["reading_score"] > 69)].groupby("size_bins")["Student ID"].count()/bysize["Student ID"].count()).map("{:.2%}".format)
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
scoresbysize = pd.DataFrame({"Average Math Score": avmbysize,"Average Reading Score": avrbysize,"% Passing Math": pmbysize,"% Passing Reading": prbysize,"Overall Passing Rate": pobysize})
scoresbysize

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
size_bins,,,,,
Small (<1000),83.828654,83.974082,93.95%,96.04%,90.14%
Medium (1000-2000),83.372682,83.867989,93.62%,96.77%,90.62%
Large (2000-5000),77.477597,81.198674,68.65%,82.13%,56.57%

In [316]:
#Scores by School Type
bytype = school_data_complete.groupby("type")
#Perform the same operations as above, based on school type
#Average Math Score
avmbytype = bytype["math_score"].mean()
#Average Reading Score
avrbytype = bytype["reading_score"].mean()
#% Passing Math
pmbytype = (school_data_complete[school_data_complete["math_score"] > 69].groupby("type")["Student ID"].count()/bytype["Student ID"].count()).map("{:.2%}".format)
#% Passing Reading
prbytype = (school_data_complete[school_data_complete["reading_score"] > 69].groupby("type")["Student ID"].count()/bytype["Student ID"].count()).map("{:.2%}".format)
#Overall Passing Rate (Average of the above two)
pobytype = (school_data_complete[(school_data_complete["math_score"] > 69) & (school_data_complete["reading_score"] > 69)].groupby("type")["Student ID"].count()/bytype["Student ID"].count()).map("{:.2%}".format)
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
scoresbytype = pd.DataFrame({"Average Math Score": avmbytype,"Average Reading Score": avrbytype,"% Passing Math": pmbytype,"% Passing Reading": prbytype,"Overall Passing Rate": pobytype})
scoresbytype

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
type,,,,,
Charter,83.406183,83.902821,93.70%,96.65%,90.56%
District,76.987026,80.962485,66.52%,80.91%,53.70%